{if $brand_id}
    <div class="row" style="border-top: 1px dotted #a5ced8; border-bottom: 1px dotted #a5ced8; margin-top: 10px;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 title">
                    {intl d="brandproductdisplay.bo.default" l="Related Product"}
                </div>
            </div>
            <table class="table table-hover">
                {ifloop rel="brand-product"}
                <thead>
                <tr>
                    <th>{intl l="ID" d="brandproductdisplay.bo.default"}</th>
                    <th>{intl l="Ref" d="brandproductdisplay.bo.default"}</th>
                    <th>{intl l="Name" d="brandproductdisplay.bo.default"}</th>
                    <th>{intl l="Chapo" d="brandproductdisplay.bo.default"}</th>
                </tr>
                </thead>
                <tbody>
                {$page = $smarty.get.page|default:1}
                {loop type="product" name="brand-product" brand="$brand_id" limit=10 page=$page  backend_context="1"}
                    <tr>
                        <td>
                          <a href="{url path="{$URL}"}">{$ID}</a>
                        </td>
                        <td>
                            {$REF}
                        </td>
                        <td>
                            {$TITLE}
                        </td>
                        <td>
                            {$CHAPO}
                        </td>
                    </tr>
                {/loop}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="100">
                        {include
                        file = "includes/pagination.html"

                        loop_ref       = "brand-product"
                        max_page_count = 10
                        page_url       = "{url path="/admin/brand/update/{$brand_id}?current_tab=modules"}"
                        }
                    </td>
                </tr>
                </tfoot>
                {/ifloop}
            </table>
        </div>
    </div>
{/if}